*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7vw 0;
    height: 9.5vw;
}

#header h1 {
    color: #901C1C;
    font-size: 2.5vw;
    font-weight: 400;
    line-height: 3.2vw;
}

button {
    border-radius: 5px;
    border: none;
    padding: 1.5972222222vw 1.25vw;
    background-color: #911c1c;
    color: #fff;
    font-family: inherit;
    font-size: 1.25vw;
    font-weight: 700;
    line-height: 1.5972222222vw;
    cursor: pointer;
}

.logo {
    height: 3.5vw;
}

img, video {
    object-fit: cover;
}

.icon-close {
    width: 2.9166666667vw;
    height: 2.9166666667vw;
    mask: url("../assets/icons/close.svg");
    /* -webkit-mask: url("../assets/icons/close.svg"); */
    mask-size: auto;
    mask-size: 2.9166666667vw;
    /* -webkit-mask-size: 2.9166666667vw; */
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
    padding-top: 4vw;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article a {
    text-align: center;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    line-height: 47px;
    margin: 0;
}

.photographer_section article h3 {
    color: #901C1C;
    font-size: 13px;
    line-height: 17px;
    margin: 0;
}

.photographer_section article h4 {
    color: #000000;
    font-size: 10px;
    line-height: 13px;
    margin: 0;
}

.photographer_section article p {
    color: #757575;
    font-size: 9px;
    line-height: 12px;
    margin: 0;
}